//Colors

//Spacing
$s-size: 1rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$dark-grey: #333;
$blue: #0078b8;
$dark-blue: #364051;
$light-grey: #f7f7f7;
$grey: #666;
$font-size-large: 1.8rem;
$font-size-small: 1.6rem;